@inject IOptions<CaptchaConfig> captchaConfig
@model CheckRequest
<form asp-action="Check" id="form" asp-all-route-data="new Dictionary<string, string>()">
    <div class="mb-3">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Issue"><i class="fas fa-keyboard"></i> <span data-localize="label-enter-issue-key">Enter issue key</span>:</label>
            <input type="text" asp-for="Issue" class="form-control" placeholder="ABC-123" value="" required>
            <span asp-validation-for="Issue" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="@captchaConfig.Value.Key" data-callback="recaptchaCallback"></div>
        </div>
        <span asp-validation-for="Captcha" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit"><span data-localize="label-check">Check</span> <i class="fas fa-hand-pointer"></i></button>
    </div>
</form>

@section Head {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}